<div>
  
  <h1>Add new robot</h1>
  <form #robotForm="ngForm">
    <div class="form-group">
      <label for="robotName">Name</label>
      <input name="robotName" type="text" [(ngModel)]="robotNameVariable">
    </div>

    <div class="form-group">
      <label for="robotType">Type</label>
      <input name="robotType" type="text">
    </div>
    <!-- <label for="e-mail">E-mail</label>
    <input name="e-mail" required email type="e-mail" [(ngModel)]="robotEmailVariable">
    <div *ngIf="robotForm.form.controls['email']?.errors?.required">required</div>
    <div *ngIf="robotForm.form.controls['email']?.errors?.email">not an email</div> -->

    <div class="form-group">
      <label for="robotNature">Nature</label>
      <input name="robotNature" type="text" [(ngModel)]="robotNatureVariable">
    </div>
    <div class="form-group">
        <label for="numberOfParts">Number of Parts</label>
        <input name="numberOfParts" type="text" [(ngModel)]="robotNumberOfPartsVariable">
      </div>
    <button type="submit" (click)="saveRobot()" [disabled]="!robotForm.form.valid">Submit</button>

  </form>
</div>